<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Demo</title>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/dashboard.css" rel="stylesheet">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/cafe/list">
                <span data-feather="file"></span>
                Cafe
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/article/list">
                <span data-feather="shopping-cart"></span>
                Article
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/favorite/list">
                <span data-feather="shopping-cart"></span>
                Favorite
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">cafeName</th>
              <th scope="col">cafeId</th>
              <th scope="col">menuId</th>
              <th scope="col">button</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="cafe : ${cafeList}">
                <td th:text="${cafe.idx}"></td>
                <td th:text="${cafe.cafeName}"></td>
                <td th:text="${cafe.cafeId}"></td>
                <td th:text="${cafe.menuId}"></td>
                <td>
                  <div class="input-group collect-info">
                    <div class="col-lg-3">
                      <select class="form-control select-page">
                        <option th:each="i : ${#numbers.sequence(0,20)}"
                                th:value="${i}"
                                th:text="${i}">
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-3">
                      <select class="form-control select-page-size">
                        <option th:each="i : ${#numbers.sequence(1,15)}"
                                th:value="${i}"
                                th:text="${i}"
                                th:selected="${i == 15}">
                        </option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-primary insert-btn btn-sm"
                              th:attr="data-cafe-id=${cafe.cafeId}, data-menu-id=${cafe.menuId}">저장</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('.insert-btn').click(function() {
        const cafeId = $(this).data('cafeId');
        const menuId = $(this).data('menuId');
        const page = $(this).closest('.collect-info').find('.select-page').val();
        const pageSize = $(this).closest('.collect-info').find('.select-page-size').val();

        $.ajax({
          url: '/api/article/collect',
          method: 'POST',
          dataType: 'json',
          data: {
            cafeId: cafeId,
            menuId: menuId,
            page : page,
            pageSize : pageSize
          },
          success: function (data) {
            console.log(data);
            if (data.result) {
              location.href = '/';
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      });
    });
  </script>

</body>
</html>
